:root {
    --primary : #E77800;
    --secondary : #0F659E;
}
*, body{
    font-family: "Poppins", sans-serif;
    /* background-color: #f4f6fc; */
}

.text-sdlc{
    color: var(--primary);
}
.text-Masters{
    color: var(--secondary);
}