<div class="products d-flex align-items-center">
    <div class="container animated flip infinite">
        <div class="first-section">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">

                    <h1 data-aos="fade-up">Food Delivery App</h1>
                    <p data-aos="fade-up" data-aos-delay="400">Welcome to <b class="text-sdlc">SDLC </b>  <b class="text-Masters">Masters</b> , where we're passionate about leveraging technology to revolutionize the food industry. Our food delivery app development service is designed to connect restaurants with customers, providing a seamless and convenient dining experience right at their fingertips.</p>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#about"
                                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span class="animated fadeIn infinite">Contact Us</span>
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col">

                    <img src="../../../assets/images/Food Delivery App/01.gif"
                        class="img-fluid  hover_animation animate__animated animate__pulse" alt="image">

                </div>

            </div>
        </div>
        <div class="card-section pt100">
            <div class="row">

                <div class="col-lg-6 service-img-left">
                    <img src="../../../assets/images/Food Delivery App/02.gif" class="img-fluid  hover_animation animate__animated animate__pulse" alt="image">
                </div>

                <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                    <div class="row align-self-center gy-4">

                        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="400">
                            <div class="feature-box ">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check"></i>
                                    <h3>User-Friendly Ordering System</h3>
                                </div>
                                <div class="box-content">
                                    <p>Our app offers a user-friendly interface that allows customers to browse menus, place orders, and track deliveries with ease. With intuitive navigation and real-time updates, ordering food has never been simpler.</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6" data-aos="flip-right" data-aos-delay="300">
                            <div class="feature-box ">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check"></i>
                                    <h3> Restaurant Partner Integration</h3>
                                </div>
                                <div class="box-content">
                                    <p>We partner with a wide range of restaurants, from local favorites to national chains, to offer customers a diverse selection of cuisines. Our app seamlessly integrates with restaurant systems, ensuring smooth order processing and timely delivery.</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                            <div class="feature-box ">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check"></i>
                                    <h3>Customizable Menus and Promotions</h3>
                                </div>
                                <div class="box-content">
                                    <p>Restaurants can easily update their menus and promotions through our app, allowing them to showcase seasonal specials, discounts, and exclusive offers to attract customers and drive sales.</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6" data-aos="flip-left" data-aos-delay="500">
                            <div class="feature-box ">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check"></i>
                                    <h3> Efficient Delivery Management</h3>
                                </div>
                                <div class="box-content">
                                    <p> Our app optimizes delivery routes and assigns orders to drivers based on proximity and availability, ensuring fast and efficient delivery service. Customers can track their orders in real-time and receive notifications when their food is on the way.
                                        </p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12" data-aos="flip-right" data-aos-delay="600">
                            <div class="feature-box ">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check"></i>
                                    <h3>Secure Payment Options</h3>
                                </div>
                                <div class="box-content">
                                    <p> We offer a variety of secure payment options, including credit cards, mobile wallets, and cash on delivery, to accommodate customer preferences and ensure hassle-free transactions.
                                    </p>
                                </div>
                            </div>

                        </div>

                       
                    </div>
                </div>

            </div> <!-- / row -->

        </div>
        <div class="card-section pt100">
            <h3 class="whychoosesdlc">Why Choose <b class="text-sdlc">SDLC </b>  <b class="text-Masters">Masters</b> ?</h3>
            <div class="row">
                <div class="col-md-12 mb-20" data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1500">
                    <div class="feature-box ">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check"></i>
                            <h3>Expertise</h3>
                        </div>
                        <div class="box-content">
                            <p>With years of experience in food delivery app development, we have the expertise to create customized solutions that meet the unique needs of restaurants and customers alike.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 mb-20" data-aos="zoom-in" data-aos-delay="200">
                    <div class="feature-box ">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check"></i>
                            <h3>Scalability</h3>
                        </div>
                        <div class="box-content">
                            <p> Whether you're a small independent restaurant or a large food delivery platform, our app is scalable to grow with your business. From single-location establishments to multi-city operations, we have the flexibility to adapt our solutions to your needs.</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                    <div class="feature-box ">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check"></i>
                            <h3>Customer Support</h3>
                        </div>
                        <div class="box-content">
                            <p>We're committed to providing exceptional customer support to both restaurants and customers. Our dedicated team is available to assist with any questions or issues, ensuring a positive experience for all users.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>