<div class="products d-flex align-items-center">
    <div class="container animated flip infinite">
        <div class="first-section">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">

                    <h1 data-aos="fade-up">Watsapp ChatBot App</h1>
                    <p data-aos="fade-up" data-aos-delay="400">Welcome to <b class="text-sdlc">SDLC </b>  <b class="text-Masters">Masters</b> , where we harness the power of AI and automation to enhance customer engagement and streamline business operations. Our WhatsApp chatbot application development service is designed to help businesses communicate more effectively with their customers, providing instant support and personalized experiences around the clock.</p>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#about"
                                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span class="animated fadeIn infinite">Contact Us</span>
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col">

                    <img src="../../../assets/images/Whatsapp Chatbot/1.gif"
                        class="img-fluid  hover_animation animate__animated animate__pulse" alt="image">

                </div>

            </div>
        </div>
        <div class="card-section pt100">
            <div class="row">

                <div class="col-lg-6 service-img-left">
                    <img src="../../../assets/images/Whatsapp Chatbot/2.gif" class="img-fluid  hover_animation animate__animated animate__pulse" alt="image">
                </div>

                <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                    <div class="row align-self-center gy-4">

                        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="400">
                            <div class="feature-box ">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check"></i>
                                    <h3>24/7 Customer Support</h3>
                                </div>
                                <div class="box-content">
                                    <p>Our WhatsApp chatbots provide round-the-clock customer support, addressing inquiries, resolving issues, and offering assistance at any time. This ensures your customers always receive timely responses, enhancing their overall experience.</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6" data-aos="flip-right" data-aos-delay="300">
                            <div class="feature-box ">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check"></i>
                                    <h3>Automated Responses</h3>
                                </div>
                                <div class="box-content">
                                    <p> Reduce the workload on your support team with our intelligent chatbots that can handle frequently asked questions, process orders, book appointments, and more. By automating routine tasks, you can focus on more complex customer needs.</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                            <div class="feature-box ">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check"></i>
                                    <h3>Personalized Interactions</h3>
                                </div>
                                <div class="box-content">
                                    <p>Leverage the power of AI to deliver personalized interactions. Our chatbots can use customer data to tailor responses, provide relevant product recommendations, and enhance user engagement based on individual preferences and past interactions.</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6" data-aos="flip-left" data-aos-delay="500">
                            <div class="feature-box ">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check"></i>
                                    <h3> Seamless Integration</h3>
                                </div>
                                <div class="box-content">
                                    <p> Our WhatsApp chatbots integrate seamlessly with your existing CRM, ERP, and other business systems, ensuring a smooth flow of information and consistent customer data across all platforms</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12" data-aos="flip-right" data-aos-delay="600">
                            <div class="feature-box ">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-check"></i>
                                    <h3>Multi-Language Support</h3>
                                </div>
                                <div class="box-content">
                                    <p> Reach a global audience with our chatbots' multi-language capabilities. We support multiple languages to cater to your diverse customer base, providing a more inclusive and accessible service.</p>
                                </div>
                            </div>

                        </div>

                       
                    </div>
                </div>

            </div> <!-- / row -->

        </div>
        <div class="card-section pt100">
            <h3 class="whychoosesdlc">Why Choose <b class="text-sdlc">SDLC </b>  <b class="text-Masters">Masters</b> ?</h3>
            <div class="row">
                <div class="col-md-12 mb-20" data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1500">
                    <div class="feature-box ">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check"></i>
                            <h3>Expertise</h3>
                        </div>
                        <div class="box-content">
                            <p>With a team of experienced developers and AI specialists, we have the knowledge and skills to create sophisticated WhatsApp chatbots that meet your business needs and exceed your expectations.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 mb-20" data-aos="zoom-in" data-aos-delay="200">
                    <div class="feature-box ">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check"></i>
                            <h3>Customization</h3>
                        </div>
                        <div class="box-content">
                            <p> We understand that every business is unique. Our chatbots are fully customizable to match your brand's voice and personality, ensuring a consistent and engaging customer experience.</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                    <div class="feature-box ">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check"></i>
                            <h3>Security</h3>
                        </div>
                        <div class="box-content">
                            <p> We prioritize the security and privacy of your customer data. Our chatbots are built with robust security measures to protect sensitive information and comply with data protection regulations.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>