nav{
    background-color: #f9fafb;
}
.logo-image {
    max-height: 80px; 
    position: relative;
  }
  .nav-link{
    font-weight: 500;
    color: var(--primary) !important
  }
  .active{
    color: var(--secondary) !important;
  }
