<nav class="navbar navbar-expand-lg header" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/images/brand/BrandLogo.png" class="logo-image">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-around " style="padding: 0; " id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="'/home'" routerLinkActive="active">
              <i aria-hidden="true" class="fa fa-home"></i> 
              Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/about'" routerLinkActive="active"> <i aria-hidden="true" class="fa fa-envelope"></i> About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="'service-details'" routerLinkActive="active">   <i aria-hidden="true" class="fa fa-microchip"></i>  Services</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">    <i aria-hidden="true" class="fa fa-calendar"></i>   Pricing</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">     <i aria-hidden="true" class="fa fa-user"></i>  Team</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#"> <i aria-hidden="true" class="fa fa-picture-o"></i> Hospital Management App</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"> <i aria-hidden="true" class="fa fa-cutlery"></i> Food Delevery App</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"> <i aria-hidden="true" class="fa fa-eercast"></i>Hotel Management App</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"><i aria-hidden="true" class="fa fa-certificate"></i>Billing Software App</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"><i aria-hidden="true" class="fa fa-fax"></i>Whatsapp Chatbot App</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"><i aria-hidden="true" class="fa fa-low-vision"></i>Rental App</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"><i aria-hidden="true" class="fa fa-tachometer"></i>E-Commerce App</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"><i aria-hidden="true" class="fa fa-user-secret"></i>Booking Management App</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i aria-hidden="true" class="fa fa-university"></i>Career</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i aria-hidden="true" class="fa fa-address-book"></i>Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  