<!-- ======= Features Section ======= -->
<section id="about" class="about">
    <div class="text-center bg-image rounded-3 mb-5" style="
    background-image: url('../../../assets/images/AboutUs/2.png');
    height: 400px;
  ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.5); height: 100%;">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3 fs-100"><b class="text-sdlc">SDLC </b> <b class="text-Masters">Masters</b></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container" data-aos="fade-up">



        <div class="row">

            <div class="col-lg-6 service-img-left">
                <img src="../../../assets/images/AboutUs/1.gif" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">

                    <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center aboutbox">
                                <i class="fa fa-check"></i>
                                <div class="box-content">
                                    <p>SDLC Masters vision is to enhance the Information Technology industry in India by
                                        providing innovative software solutions, Mobile technologies,
                                        state-of-the-art products, services and technologies from all over the world.
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center aboutbox">
                                <i class="fa fa-check"></i>
                                <div class="box-content">
                                    <p>Over the past Six years, we have taken the lead in providing for both the public
                                        and private sectors.</p>
                                    <p>our strategy is characterized by a stronp focus on innovation with world class
                                        expertise, capability
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center aboutbox">
                                <i class="fa fa-check"></i>
                                <div class="box-content">
                                    <p>SDLC Masters has brought to the market mony innovative technologies through our
                                        holistic, integrotecI and reliable services. The services and solutions oTTerecl
                                        cover the entire like cycle of System oncl procluCtS ffom System Integration and
                                        Application Development, Technology Incl Infrastructure Solutions.
                                    </p>
                                    <p>Our competency is to help our customers achieve their business pools and
                                        corporate agenda.
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center aboutbox">
                                <i class="fa fa-check"></i>
                                <div class="box-content">
                                    <p>SDLC Masters cleclicotecl in cleveIoping a suite of software proclucts thot will
                                        be useful to Small and Meclium Enterprises.
                                    </p>
                                    <p>
                                        It is on upcoming provicler of integrotecI business, technology Incl process
                                        solutions on a global clelivery platform Incl also a global services provicler
                                        cleIivering technology-clriven business solutions thot meet the strategic
                                        objectives of our clients.

                                    </p>
                                    <p>
                                        We deliver unmotchecl business value to cUStomerS through a combination oT
                                        ProcesS Excellence, Quality Frameworks Incl Service Delivery Innovation.
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>



                </div>
            </div>

        </div> <!-- / row -->


        <div class="row">
            <h3 class="whychoosesdlc">Why Choose <b class="text-sdlc">SDLC </b> <b class="text-Masters">Masters</b> ?
            </h3>
            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">

                    <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-check"></i>
                                <h3>Our Goal</h3>
                            </div>
                            <div class="box-content">
                                <p>We believe in long standing customers and lasting business
                                    relationships. We cater quality, innovative and reliable so ware.
                                    We provide flexibility and connectivity to our valued customers in any kind of
                                    situations. By altering the yardstick to strive for new things and seek to know
                                    more.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6" data-aos="fade-down-left" data-aos-delay="300">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-check"></i>
                                <h3>Vision
                                </h3>
                            </div>
                            <div class="box-content">
                                <p>We believe in balanced wide-reaching growth as our most impo ant vision. Be candid
                                    with our customers and keep them updated on the read situation avoiding surprises.
                                    Delivering more than what is anticipated or promised.</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6" data-aos="fade-up-left" data-aos-delay="400">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-check"></i>
                                <h3>Mission</h3>
                            </div>
                            <div class="box-content">
                                <p>We endeavor to develop a liner technology, origina i and
                                    partnerships. We like to continue our focus to procedural aspects of so are and
                                    technology. Our potential goals are to produce a wider contribution of so ware and
                                    we are in the course of pursuing our objective.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6" data-aos="fade-up-right" data-aos-delay="500">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-check"></i>
                                <h3>Value </h3>
                            </div>
                            <div class="box-content">
                                <p>integrity is what we value most and this is not limited to top line mangers but also
                                    to all members. We make even egos to make our work place where people are keen to
                                    get their jobs, harmonizing their family, life with accountability.</p>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
            <div class="col-lg-6 service-img-left" data-aos="fade-down-left">
                <img src="../../../assets/images/AboutUs/3.gif" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row">

            <div class="col-lg-6 service-img-left">
                <img src="../../../assets/images/AboutUs/4.gif" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">

                    <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center aboutbox">
                                <i class="fa fa-check"></i>
                                <div class="box-content">
                                    <p>SDLC Masters follows Corporate Phyosophy built upon this Mission Statement </p>

                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center aboutbox">
                                <i class="fa fa-check"></i>
                                <div class="box-content">
                                    <p>Providing solutions services that are elective, e icie and collaborative to our
                                        clients for connecting perfectly
                                    </p>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center aboutbox">
                                <i class="fa fa-check"></i>
                                <div class="box-content">
                                    <p>Understanding fully the business and requirements of our Clients and
                                        Collaborators
                                    </p>

                                </div>
                            </div>

                        </div>

                    </div>




                </div>
            </div>

        </div> <!-- / row -->


        <div class="row">



            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">

                    <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center aboutbox">
                                <i class="fa fa-check"></i>
                                <div class="box-content">
                                    <p>Providing Resources who are well qualified and appropriately experienced to undertake each individual assignment </p>

                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center aboutbox">
                                <i class="fa fa-check"></i>
                                <div class="box-content">
                                    <p>Establishing close and harmonious working relationships with client stat from top leadership to the operation levels
                                    </p>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center aboutbox">
                                <i class="fa fa-check"></i>
                                <div class="box-content">
                                    <p>Ensuring that what in delivered meets agreed terms of reference, in presented in a clear and concise manner and is practical and commercially found
                                    </p>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center aboutbox">
                                <i class="fa fa-check"></i>
                                <div class="box-content">
                                    <p>Regularly auditing and defining out quality assurance approach to ensure its continued effectiveness.
                                    </p>

                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
            <div class="col-lg-6 service-img-left" data-aos="fade-down-left">
                <img src="../../../assets/images/AboutUs/5.gif" class="img-fluid" alt="">
            </div>
        </div>

    </div>


</section>