<!-- ======= Features Section ======= -->
<section id="about" class="about">
    <div class="text-center bg-image rounded-3 mb-5" style="
    background-image: url('../../../assets/images/AboutUs/2.png');
    height: 300px;
  ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.5); height: 100%;">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3 fs-100">Careers at <b class="text-sdlc">SDLC </b> <b
                            class="text-Masters">Masters</b></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container" data-aos="fade-up">

        <h3 class="whychoosesdlc"><b>CAREER</b> </h3>
        <div class="row">
            <div class="col-md-12 mb-5" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box ">
                    <div class="d-flex align-items-center aboutbox">
                        <i class="fa fa-check"></i>
                        <div class="box-content">
                            <p> Join the dynamic team at SDLC Masters, where innovation, collaboration, and excellence
                                drive our success. We are passionate about creating cutting-edge solutions and
                                delivering outstanding services to our clients. If you’re looking for a place to grow
                                your career, develop your skills, and make a meaningful impact, you’ve come to the right
                                place.
                            </p>
                        </div>
                    </div>

                </div>

            </div>

            <h3 class="whychoosesdlc">Why Work With <b class="text-sdlc">SDLC </b> <b class="text-Masters">Masters</b> ?
            </h3>
            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">

                    <div class="col-md-12" data-aos="zoom-out" data-aos-delay="200">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-check"></i>
                                <h3>Innovative Environment</h3>
                            </div>
                            <div class="box-content">
                                <p>At [Your Company Name], we foster a culture of creativity and innovation. Our team is
                                    encouraged to think outside the box and push the boundaries of what’s possible.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12" data-aos="fade-down-left" data-aos-delay="300">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-check"></i>
                                <h3>Career Growth
                                </h3>
                            </div>
                            <div class="box-content">
                                <p>We are committed to your professional development. Through continuous learning
                                    opportunities, mentorship programs, and career advancement paths, we help you
                                    achieve your career goals.</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12" data-aos="fade-up-left" data-aos-delay="400">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-check"></i>
                                <h3>Collaborative Culture</h3>
                            </div>
                            <div class="box-content">
                                <p> Teamwork is at the heart of everything we do. We believe in the power of
                                    collaboration and encourage open communication, idea-sharing, and collective
                                    problem-solving.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12" data-aos="fade-up-right" data-aos-delay="500">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-check"></i>
                                <h3>Impactful Work </h3>
                            </div>
                            <div class="box-content">
                                <p>Join us and contribute to projects that make a real difference. Whether it's
                                    developing cutting-edge applications, improving business processes, or enhancing
                                    customer experiences, your work will have a lasting impact.</p>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
            <div class="col-lg-6 service-img-left" data-aos="fade-down-left">
                <img src="../../../assets/images/AboutUs/3.gif" class="img-fluid" alt="">
            </div>
        </div>

        
        <div class="row">
            <h3 class="whychoosesdlc">How to Apply for <b class="text-sdlc">SDLC </b> <b
                class="text-Masters">Masters</b> ?
        </h3>
        <div class="col-md-12 mb-5" data-aos="zoom-out" data-aos-delay="200">
            <div class="feature-box ">
                <div class="d-flex align-items-center aboutbox">
                    <i class="fa fa-check"></i>
                    <div class="box-content">
                        <p> Interested in joining our team? Visit our Careers Page/Job Portal to view all open
                            positions and submit your application. We look forward to hearing from you!
                        </p>
                    </div>
                </div>

            </div>

        </div>


            <div class="col-lg-4 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">
                        <div class="list-group d-flex align-items-center aboutbox feature-box">
                           
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><b>Software Developer</b></h5>
                                </div>
                                
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                       <span class="text-decoration-underline"> Location :</span><small>  Hyderabad</small>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        <span class="text-decoration-underline">Job Type :</span><small> Full-Time</small>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        <span class="text-decoration-underline"> Description :</span>
                                        <p>  We are looking for a skilled software developer to join
                                            our development team. The ideal candidate will have experience in [specific
                                            programming languages/technologies] and a passion for creating high-quality
                                            software solutions.</p>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> <span class="text-decoration-underline">Responsibilities:</span>
                                        <p>
                                            Develop and maintain software applications.</p>
                                        <p>
                                            Collaborate with cross-functional teams to define, design, and ship new
                                            features.</p>
                                        <p>
                                            Ensure the performance, quality, and responsiveness of applications.
                                            Identify and correct bottlenecks and fix bugs.
                                        </p>

                                    </li>

                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">  <span class="text-decoration-underline">Qualifications:</span>
                                        <p>
                                            Bachelor’s degree in Computer Science or related field.
                                        </p>
                                        <p>
                                            Experience with [specific programming languages/technologies</p>
                                        <p>
                                            Strong problem-solving skills and attention to detail.

                                        </p>
                                        <p>
                                            Excellent communication and teamwork skills.


                                        </p>

                                    </li>
                                </ul>
                            
                           
                        </div>
                </div>
            </div>
            <div class="col-lg-4 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">
                        <div class="list-group d-flex align-items-center aboutbox feature-box">
                           
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><b>Software Developer</b></h5>
                                </div>
                                
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                       <span class="text-decoration-underline"> Location :</span><small>  Hyderabad</small>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        <span class="text-decoration-underline">Job Type :</span><small> Full-Time</small>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        <span class="text-decoration-underline"> Description :</span>
                                        <p>  We are looking for a skilled software developer to join
                                            our development team. The ideal candidate will have experience in [specific
                                            programming languages/technologies] and a passion for creating high-quality
                                            software solutions.</p>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> <span class="text-decoration-underline">Responsibilities:</span>
                                        <p>
                                            Develop and maintain software applications.</p>
                                        <p>
                                            Collaborate with cross-functional teams to define, design, and ship new
                                            features.</p>
                                        <p>
                                            Ensure the performance, quality, and responsiveness of applications.
                                            Identify and correct bottlenecks and fix bugs.
                                        </p>

                                    </li>

                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">  <span class="text-decoration-underline">Qualifications:</span>
                                        <p>
                                            Bachelor’s degree in Computer Science or related field.
                                        </p>
                                        <p>
                                            Experience with [specific programming languages/technologies</p>
                                        <p>
                                            Strong problem-solving skills and attention to detail.

                                        </p>
                                        <p>
                                            Excellent communication and teamwork skills.


                                        </p>

                                    </li>
                                </ul>
                            
                           
                        </div>
                </div>
            </div>
            <div class="col-lg-4 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">
                        <div class="list-group d-flex align-items-center aboutbox feature-box">
                           
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><b>Software Developer</b></h5>
                                </div>
                                
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                       <span class="text-decoration-underline"> Location :</span><small>  Hyderabad</small>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        <span class="text-decoration-underline">Job Type :</span><small> Full-Time</small>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        <span class="text-decoration-underline"> Description :</span>
                                        <p>  We are looking for a skilled software developer to join
                                            our development team. The ideal candidate will have experience in [specific
                                            programming languages/technologies] and a passion for creating high-quality
                                            software solutions.</p>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> <span class="text-decoration-underline">Responsibilities:</span>
                                        <p>
                                            Develop and maintain software applications.</p>
                                        <p>
                                            Collaborate with cross-functional teams to define, design, and ship new
                                            features.</p>
                                        <p>
                                            Ensure the performance, quality, and responsiveness of applications.
                                            Identify and correct bottlenecks and fix bugs.
                                        </p>

                                    </li>

                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">  <span class="text-decoration-underline">Qualifications:</span>
                                        <p>
                                            Bachelor’s degree in Computer Science or related field.
                                        </p>
                                        <p>
                                            Experience with [specific programming languages/technologies</p>
                                        <p>
                                            Strong problem-solving skills and attention to detail.

                                        </p>
                                        <p>
                                            Excellent communication and teamwork skills.


                                        </p>

                                    </li>
                                </ul>
                            
                           
                        </div>
                </div>
            </div>


        </div> <!-- / row -->


        <div class="row">
        

            <div class="col-lg-6 service-img-left">
                <img src="../../../assets/images/AboutUs/1.gif" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">

                    <div class="col-md-12" data-aos="zoom-out" data-aos-delay="200">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-check"></i>
                                <h3>Competitive Salary</h3>
                            </div>
                            <div class="box-content">
                                <p>We offer a competitive salary package that reflects your skills and experience.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12" data-aos="fade-down-left" data-aos-delay="300">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-check"></i>
                                <h3>Health and Wellness
                                </h3>
                            </div>
                            <div class="box-content">
                                <p>Comprehensive health, dental, and vision insurance plans to keep you and your family
                                    healthy.</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12" data-aos="fade-up-left" data-aos-delay="400">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-check"></i>
                                <h3>Work-Life Balance</h3>
                            </div>
                            <div class="box-content">
                                <p> Flexible working hours and remote work options to help you maintain a healthy
                                    work-life balance.
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12" data-aos="fade-up-right" data-aos-delay="500">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-check"></i>
                                <h3>Professional Development </h3>
                            </div>
                            <div class="box-content">
                                <p>Opportunities for continuous learning and professional growth through workshops,
                                    courses, and certifications.</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12" data-aos="fade-up-right" data-aos-delay="500">
                        <div class="feature-box ">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-check"></i>
                                <h3>Inclusive Culture </h3>
                            </div>
                            <div class="box-content">
                                <p>We are committed to fostering a diverse and inclusive workplace where everyone feels
                                    valued and respected.</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div> <!-- / row -->




    </div>


</section>