/*--------------------------------------------------------------
# about
--------------------------------------------------------------*/
.about {
    padding-top: 100px;
    overflow: hidden;
    background: url(../../../assets/images/herosection/hero-bg.png) top center no-repeat;
    background-size: cover;
}
.fs-100{
    font-size: 100px;
}
.bi-check::before {
    content: "\f26e";
}
.aboutbox i{
    position: absolute;
    top: 15px;
}
.section-header h3 {
    text-align: center;
    text-decoration: underline;
    color: var(--secondary);
    font-weight: 600;
    font-size: 24px;
}

.section-header p {
    text-indent: 50px;
    text-align: justify;
}
.service-img-left{
    margin: 30px 0;
}
.about .feature-box {
    padding: 15px 15px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.list-group-item{
    background: transparent;
}

.list-group-item p{
    margin: 0;
    text-align: justify;
    text-indent: 28px;
}
.about .feature-box h3 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 0;
}

.about .feature-box i {
    background: #ecf3ff;
    color: var(--primary);
    padding: 5px;
    margin-right: 12px;
    font-size: 20px;
    border-radius: 4px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.feature-box .box-content {
    font-size: 16px;
    text-indent: 50px;
    text-align: justify;
    line-height: 1.8;
}
.feature-box .box-content p{
    margin: 0;
}
.about .feature-box:hover i {
    background: var(--secondary);
    color: var(--primary);
}
.whychoosesdlc{
    text-align: center;
    margin: 20px 0;
    font-weight: 600;
    color: var(--secondary);
    text-decoration: underline;
}



.about .feture-tabs {
    margin-top: 120px;
}

.about .feture-tabs h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .about .feture-tabs h3 {
        font-size: 28px;
    }
}

.about .feture-tabs .nav-pills {
    border-bottom: 1px solid #eee;
}

.about .feture-tabs .nav-link {
    background: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #012970;
    padding: 12px 0;
    margin-right: 25px;
    margin-bottom: -2px;
    border-radius: 0;
}

.about .feture-tabs .nav-link.active {
    color: #4154f1;
    border-bottom: 3px solid #4154f1;
}

.about .feture-tabs .tab-content h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: #012970;
}

.about .feture-tabs .tab-content i {
    font-size: 24px;
    line-height: 0;
    margin-right: 8px;
    color: #4154f1;
}

.about .feature-icons {
    margin-top: 120px;
}

.about .feature-icons h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .about .feature-icons h3 {
        font-size: 28px;
    }
}

.about .feature-icons .content .icon-box {
    display: flex;
}

.about .feature-icons .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #012970;
}

.about .feature-icons .content .icon-box i {
    font-size: 44px;
    line-height: 44px;
    color: #0245bc;
    margin-right: 15px;
}

.about .feature-icons .content .icon-box p {
    font-size: 15px;
    color: #848484;
}